<!DOCTYPE html> 
<html> 
<head> 
    <meta charset="utf-8"> 
    <title>Onece</title> 
    <link  rel="stylesheet" type="text/css" href="/stylesteets/master.css">
</head> 
<body> 
    <img src="/img/logo.png">
    <p>본인인증 페이지 입니다. 이름과 아이디를 입력해주세요.</p>

    <div class="container"> 
       <fieldset> 
        <form action="/template" method="get"> 
            <input name="name" type="text" class="ghost-input" placeholder="Enter Your Name" required><br>
            <input name="id" type="text" class="ghost-input" placeholder="Enter Your ID" required><br>
            <input type="submit" class="ghost-button" value="submit">
        </form> 
        </fieldset> 
    </div>

</body> 
</html>