 <!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8"> 
        <title><%= title%></title> 
        <link  rel="stylesheet" type="text/css" href="stylesheet"> 
    </head> 
    <body> 
        <h1>Onece</h1>
        <% if(demo == 'disabled') { %> 
            <p> 유효하지 않은 사용자 ID 또는 이름입니다.</p>
            <fieldset> 
                    <form action="/template" method="get"> 
                        <input name="id" type="text" class="ghost-input" placeholder="Enter Your Name" required> 
                        <input name="name" type="text" class="ghost-input" placeholder="Enter Your ID" required> 
                        <input type="submit" class="ghost-button" value="submit">
                    </form> 
            </fieldset>  
        <% } else { %> 
            <p><%= name%>(<%= id%>)님, 인증되었습니다!</p>
        <% } %>
    </body> 
</html>